Source: homegear-mediola
Maintainer: Michael Landherr <mlandherr@iopdev.org>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 8)
Homepage: https://homegear.eu

Package: homegear-mediola
Architecture: all
Section: misc
Priority: optional
Homepage: https://homegear.eu
Depends: ${shlibs:Depends}, ${misc:Depends}, homegear (>= 0.6.0), php5-cli (>= 5.0.0), php5-xmlrpc (>= 5.0.0)
Description: Provides an mediola Gateway with WIR eWickler device for Homegear.

